<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".MainService$CloseMainService" android:exported="false" />
        <receiver android:name=".MainService$TogglePageModeMainService" android:exported="false" />
        <receiver android:name=".MainService$ToggleInstantModeMainService" android:exported="false" />
        <receiver android:name=".MainService$ToggleImagePreviewMainService" android:exported="false" />
        <receiver android:name=".MainService$ToggleShowHideMainService" android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:label="Mojiscope"
            android:noHistory="false"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TutorialActivity"
            android:exported="false"
            android:label="Mojiscope Tutorial"
            android:noHistory="false"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".PassthroughActivity"
            android:label="Mojiscope"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service
            android:name=".MainService"
            android:foregroundServiceType="mediaProjection"
            android:exported="false" />
    </application>

</manifest>